fastapi
uvicorn[standard]
pydantic
requests
qdrant-client
python-dotenv
google-generativeai
markdown-it-py # for parsing markdown
pymupdf # for parsing pdfs (optional, but good to have)
html2text # for parsing html (optional, but good to have)
python-frontmatter